{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
	<h1 class="branding h5">
		<a href="{% url 'admin:index' %}">
            <img src="/static/admin/img/logo-wappa-simple.svg" alt="Logo WAPPA" id="logo-header" />
            admin
        </a>
	</h1>
{% endblock %}

{% block nav-global %}
    <nav role="navigation" class="admin_main_nav">
        <div class="wrapper">
            <h3 class="visuallyhidden">Main navigation</h3> 

            <ul class="l--admin_main_nav fl_grid h4">
            	<li class="i--admin_main_nav">
            		<a href="{% url 'admin:index' %}" class="icon-home a--admin_main_nav">
	            		<i>Dashboard</i>
            		</a>
            	</li>
            	<li class="i--admin_main_nav">
            		<a href="{% url 'admin:index' %}photo" class="icon-photo a--admin_main_nav">
            			<i>Photos</i>
            		</a>
            	</li>
            	<li class="i--admin_main_nav">
            		<a href="{% url 'admin:index' %}" class="icon-file a--admin_main_nav">
            			<i>Articles</i>
            		</a>
            	</li>
            	<li class="i--admin_main_nav">
            		<a href="{% url 'admin:index' %}auth" class="icon-user-group a--admin_main_nav">
            			<i>Users</i>
            		</a>
            	</li>
            </ul>

        </div>
        <!-- /.wrapper -->
    </nav>
{% endblock %}

