@import "config.min.css";


/* --------------------------------------------------------------
	components.css
	© sacripant.fr
	List of reusable design components

	* white_bloc
	* btn
	* maw-with blocs
-------------------------------------------------------------- */ 


/*
*	White bloc
*	Add a white background with padding
*/
.white_bloc	{
	background-color: hsla(0, 0%, 100%, 0.7);
	padding: calc( var(--vr) / 3)rem;
}
/*Place label just before white_bloc*/
.label--white_bloc {
	margin-bottom: calc( var(--vr) / 6)rem;
	
}



/*
*	Buttons
*/
.btn 
, [class*=__btn]
{
	/*border: 1px solid;*/
	color: var(--color2);
	background-color: var(--color2-lightgrey);


	display: inline-block;
	vertical-align: middle;

	line-height: 2em;
	height: 2em;
	padding: 0 .66em;
	
	border-radius: .33em;
	border: 0 none;
	box-shadow: inset 0 0 .1em currentColor;

}
.btn:hover
, .btn:focus
, [class*=__btn]:hover
, [class*=__btn]:focus
{	
	text-decoration: none;
}

.btn:active
, [class*=__btn]:active
{
	box-shadow: inset 0 .1em .2em currentColor;
}

/*	Add Btn
------------*/

.add__btn {
	color: var(--color2-darkgrey);
	background-color: var(--color1-bright);
	/*background-color: var(--color1-bright);*/
}






/*
**	max-width bloc
*/

.mw-s	{
	max-width: calc( var(--vr) * 15 )em;

}

.mw-m	{
	max-width: calc( var(--vr) * 30 )em;
}	
