@import "config.min.css";


/* --------------------------------------------------------------
	components.css
	© sacripant.fr
	List of reusable design components

	* white_bloc
	* btn
	* maw-with blocs
-------------------------------------------------------------- */ 


/*
*	White bloc
*	Add a white background with padding
*/
.white_bloc	{
	background-color: hsla(0, 0%, 100%, 0.7);
	padding: calc( var(--vr) / 3)rem;
}
/*Place label just before white_bloc*/
.label--white_bloc {
	margin-bottom: calc( var(--vr) / 6)rem;
	
}



/*
*	Buttons
*/
.btn 
, [class*=__btn]
{
	/*border: 1px solid;*/
	color: var(--color2);
	background-color: var(--color2-lightgrey);


	display: inline-block;
	vertical-align: middle;

	line-height: 2em;
	height: 2em;
	padding: 0 .66em;
	
	border-radius: .33em;
	border: 0 none;
	box-shadow: inset 0 0 .1em currentColor;

}
.btn:hover
, .btn:focus
, [class*=__btn]:hover
, [class*=__btn]:focus
{	
	text-decoration: none;
}

.btn:active
,.btn.active
,.btn.selected
, [class*=__btn]:active
, [class*=__btn].active
, [class*=__btn].selected
{
	box-shadow: inset 0 .1em .2em currentColor;
}

/*	light Btn
------------*/

.light__btn {
	color: var(--color2-darkgrey);
	background-color: var(--color1-bright);
	/*background-color: var(--color1-bright);*/
}

/*	Primary Btn
---------------*/
.primary__btn {
	color: var(--color2-lightgrey);
	background-color: var(--color2);
}
.primary__btn:active
{
	color: var(--color2);
	/*color: #fff;*/
	box-shadow: 
		inset 0 .2em .2em var(--color2) 
	;
	background-color: var(--color2-light);
}

/*	White Btn
----------------*/
.white__btn {
	background-color: #fff;
}
.white__btn:active
, .white__btn.active
, .white__btn.selected {
	background-color: var(--color1-light);
}

/*
**	btn group
*/

.btn-group {
	overflow: hidden;
}

.btn-group > .btn 
, .btn-group > [class*=__btn] 
{
	display: block;
	float: left;
	border-radius: 0;
}
.btn-group > .btn:first-child 
, .btn-group > [class*=__btn]:first-child 
{
	border-top-left-radius: 	.33em;
	border-bottom-left-radius:	.33em;
}
.btn-group > .btn:last-child 
, .btn-group > [class*=__btn]:last-child 
{
	border-top-right-radius: 	.33em;
	border-bottom-right-radius:	.33em;
}



/*
**	Rounded Buttons (for icons)
*/

.rounded_btn
,[class*="--rounded_btn"]
{
	display: inline-block;
	padding: 0;
	border: none;

	color: var(--color2-lightgrey);
	background-color: var(--color2-grey);
	
	height: 1.8em;
	width : 1.8em;
	border-radius: 50%;
}

.rounded_btn:hover
, .rounded_btn:active
, .rounded_btn.active 
{
	background-color: var(--color2-darkgrey);
}
.rounded_btn:active 
, .rounded_btn.active 
{
	color: var(--color1-bright);
	box-shadow: 0 0 .05em .1em var(--color1-bright);
}

/*	Red rounded btn */

.red--rounded_btn {
	background-color: var(--color-error);
}


/*
**	Photo
*/

.photo-date {
	white-space: nowrap;
}


/*
**	Photo tile
*/

.i--photos {
}
.fig--i--photos	{
	background-color: hsla(0, 0%, 100%, .4);
	/*background-color: var(--color2-darkgrey);*/
	/*color: var(--color2-lightgrey);*/
	padding: calc( var(--vr) / 3 )em;
	/*background-color: hsla(0, 0%, 100%, .7);*/
}

.img--i--photos	{
	height: 0;
	padding-top: 80%;
	text-align: center;
	position: relative;
}
.img--i--photos > img	{
	/*padding: calc( var(--vr) / 3 )em;*/
	/*padding-bottom: calc( var(--vr) / 3 )em;*/
	/*padding-bottom: 0;*/
	width: auto;
	max-height: 100%;
	margin: auto;
	margin-bottom: 0;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
}
.h--i--photos {
	margin-bottom: calc( var(--vr) / 3 )em;
	line-height: 1.2;
	max-height: 2.4em;
	overflow: hidden;
}


.btns--i--photos	{
	text-align: right;
	background-color: var(--color1-light);
	padding: var(--third-vr)em;
}

.btns--i--photos > button	{
	color: var(--color1-light);
}

/*
**	max-width bloc
*/

.mw-s	{
	max-width: calc( var(--vr) * 15 )em;
}

.mw-m	{
	max-width: calc( var(--vr) * 30 )em;
}	
