{% extends "photo/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if user_form.errors and not user_form.non_field_errors %}
<p class="errornote">
{% if user_form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if user_form.non_field_errors %}
{% for error in user_form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
custom login form
<form action="{% url 'dashboard_login'  %}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ user_form.username.errors }}
    <label for="id_username" class="required">{{ user_form.username.label }}:</label> {{ user_form.username }}
  </div>
  <div class="form-row">
    {{ user_form.password.errors }}
    <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ user_form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="password-reset-link">
    <a href="{% url 'dashboard_password_reset' %}">{% trans 'Forgotten your password or username?' %}</a>
  </div>

  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
