{% extends "admin/photo/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}


{% block after_field_sets %}
<div class="pack_photos all-span1-1">

    <h3 class="legend">
        Liste des photos liées au pack
    </h3>

    <a 
        class="btn" 
        href="/fr/admin/photo/photo/?_popup=1"
        data-iframe-modal="open"
    >
            Select Photo
    </a>

    <ul id="l--pack_photos" class="l--pack_photos fl_grid"></ul>





    {% verbatim %}
    <script id="i-photo-tpl" type="x-tmpl-mustache">
        {{#photos}}
        <li class="i--pack_photos all-span1-5" data-id="{{id}}">
            <div class="white_bloc">
                <figure>
                    <img src="{{image}}" alt="alt"/>
                    <figcation>
                        <h3 class="h--l--pack_photos p">
                            {{title}}
                        </h3>
                        <p class="metas--l--pack-photos small">
                            <span class="photo-id">#{{id}}</span>
                            <span class="photo-status">Online</span>
                            <time datetime="2013-09-19">19 09 2013</time>
                        </p>
                        
                    </figcation>

                    <div class="actions--i--pack_photos">
                        <button 
                            type="button"
                            class="icon-star rounded_btn" 
                            title="Choose as image pack"
                        >
                            <i>Choose as image pack</i>
                        </button>
                        <button 
                            type="button"
                            class="icon-pencil rounded_btn" 
                            title="Edit"
                        >
                            <i>Edit</i>
                        </button>
                        <button
                            type="button"
                            class="icon-eye rounded_btn" 
                            title="View in front office"
                        >
                            <i>View in front office</i>
                        </button>
                        <button
                            type="button"
                            class="icon-x-cross red--rounded_btn" 
                            title="Remove from pack"
                            data-action="remove"
                        >
                            <i>Remove from pack</i>
                        </button>
                    </div>
                </figure>                                        
            </div>
        </li> 
        {{/photos}}       
    </script>
    {% endverbatim %}
</div>
{% endblock %}



{% block additional-js %}
    <script src="/static/admin/js/mustache.js"></script>
    <script src="/static/js/sac-iframe-modal.js"></script>
    <script src="/static/admin/js/pack-change_form.js"></script>

{% endblock %}
