@import "../../../css/src/config.min.css";
/* --------------------------------------------------------------
	layout+skin.css for WAPPA ADMIN
		Define global layout.
		CSS for specifique pages elements.
		© sacripant.fr
-------------------------------------------------------------- */ 

/* 
**	Global layout
*/

.wrapper    	{
	width: 80em;
	max-width: 100%;
	padding: 0 var(--gutter)em;
	margin: 0 auto;
	/*background-color: #eee;*/
}
               
.admin_header	{  }
.admin_main_nav {  }
main    		{  }
.admin-footer   {  }


/*
**	Admin Header 
*/

.admin_header	{}
.branding	{
	margin-bottom: 0;
}
.user_tools
, .branding
{
	vertical-align: middle;
}

/*
**	Main Nav
*/

.l--admin_main_nav	{  
	border-bottom: 1px solid;
}
.i--admin_main_nav	{
	padding-bottom: calc( var(--vr) / 3 )rem;
	/*background-color: #eee;*/
}

                   
/**
//	Main
*/

.title_main    {  }
#sidebar			{  }
 
/* Nav main */
.nav_main		{  }
.ul-nav_main	{  }
.li-nav_main	{  }
.a-nav_main		{  }

                  
.content_main   {  }
.title-article  {  }
.meta-article   {  /*div englobant les informations sur l'article (date,auteur,catégories,etc.*/}
date            {  /*abbr*/}
.auteur         {  }
.invit-comment  {  /*lien vers le form de commentaire*/}
.nb-comment     {  }
.categorie      {  }
.resume         {  }
.article-img    {  }
.body           {  }

/**
//	Images et galerie
*/

.thumb      {/*pour toutes les vignettes*/}
.fullsize   {/*pour toutes les img full size*/}
        
.galimg		   {/*ul ou ol de galerie images*/}
.li-galimg     {  }
.a-galimg      {  }

/**
//	Site footer
*/

.nav_footer     {  }
.ul-nav_footer  {  }
.li-nav_footer  {  }
.a-nav_footer   {  }

