@import "../../../css/src/config.min.css";
/* --------------------------------------------------------------
	layout+skin.css for WAPPA ADMIN
		Define global layout.
		CSS for specifique pages elements.
		© sacripant.fr
-------------------------------------------------------------- */ 

/* 
**	Global layout
*/

.wrapper    	{
	width: 80em;
	max-width: 100%;
	padding: 0 var(--gutter)em;
	margin: 0 auto;
	/*background-color: #eee;*/
}
               
.admin_header	{  }
.admin_main_nav {  }
main    		{  }
.admin-footer   {  }


/*
**	Admin Header 
*/

.admin_header	{
	padding-bottom: calc( var(--vr) / 2 )rem;
	padding-top: calc( var(--vr) / 3 )rem;
	background-color: var(--color2-darkgrey);
	color: var(--color2-lightgrey);
}
.admin_header a {
	color: var(--color1);
}
.branding	{
	margin-bottom: 0;
	/*text-transform: uppercase;*/

}
.user_tools
, .branding
{
	vertical-align: middle;
}
#logo-header {
	height: 2em;
	vertical-align: bottom;
	display: inline-block;
}
.user_tools {
	text-align: right;
}

/*
**	Main Nav
*/
.admin_main_nav {
	background-color: var(--color2-grey);
}

.l--admin_main_nav	{  
	/*border-bottom: 1px solid;*/
	margin-bottom: 0;
}
.i--admin_main_nav	{
	padding-bottom: calc( var(--vr) / 3 )rem;
	padding-top: 	calc( var(--vr) / 4 )rem;
	/*background-color: #eee;*/
}
.a--admin_main_nav	{
	color: var(--color2-darkgrey);
	display: block;
	width: 1em;
	line-height: 1em;
	/*height: 1em;*/
	/*background-color: #fff;*/
	border-radius: 50%;
	position: relative;
	z-index: 1;
}

/*Hover / focus / Active*/
.a--admin_main_nav:hover 
, .a--admin_main_nav:focus
, .a--admin_main_nav:active
{
	text-decoration: none;
	background-color: var(--color1-light);
	box-shadow: 0 0 3px 3px var(--color1-light);
}

.a--admin_main_nav.active 
{
	background-color: var(--color1-bright);
	box-shadow: 0 0 5px 2px var(--color1-bright);
	color: #000;
}
.a--admin_main_nav.active:after {
	content: "";
	display: block;
	width: calc( var(--vr) / 2 )rem;
	height: calc( var(--vr) / 2 )rem;
	background-color: var(--color2-lightgrey);
	position: absolute;
	margin: auto;
	top: 1.1em;
	left: 0;
	right: 0; 
	transform: rotate(45deg);
}




/*
**	Sub Nav
*/

.admin_sub_nav {
	padding: calc( var(--vr) / 3 )em 0;
	/*background-color: hsla(0, 0%, 0%, .05);*/
	border-bottom: 2px solid #fff;
}

.i--admin_sub_nav {
	vertical-align: middle;
}


/**
//	Main
*/

.main--wrapper {
	/*background-color: #fff;*/
	padding-top: var(--vr)rem;
	padding-bottom: var(--vr)rem;
}



/*	
**	Admin components
**
*/

/*	Notifs */
.errorlist {
	margin-bottom: 0;
	font-size: var(--fs-small)em;
}
