@import "../../../css/src/config.min.css";
/* --------------------------------------------------------------
	layout+skin.css for WAPPA ADMIN
		Define global layout.
		CSS for specifique pages elements.
		© sacripant.fr
-------------------------------------------------------------- */ 

/* 
**	Global layout
*/

.wrapper    	{
	width: 80em;
	max-width: 100%;
	padding: 0 calc( var(--gutter) * 2 )em;
	margin: 0 auto;
	/*background-color: #eee;*/
}
               
.admin_header	{  }
.admin_main_nav {  }
main    		{  }
.admin-footer   {  }


/*
**	Admin Header 
*/

.admin_header	{
	padding-bottom: calc( var(--vr) / 2 )rem;
	padding-top: calc( var(--vr) / 3 )rem;
	background-color: var(--color2-darkgrey);
	color: var(--color2-lightgrey);
}
.admin_header a {
	color: var(--color1);
}
.branding	{
	margin-bottom: 0;
	/*text-transform: uppercase;*/

}
.user_tools
, .branding
{
	vertical-align: middle;
}
#logo-header {
	height: 2em;
	vertical-align: bottom;
	display: inline-block;
}
.user_tools {
	text-align: right;
}

/*
**	Main Nav
*/
.admin_main_nav {
	background-color: var(--color2-grey);
}

.l--admin_main_nav	{  
	/*border-bottom: 1px solid;*/
	margin-bottom: 0;
}
.i--admin_main_nav	{
	padding-bottom: calc( var(--vr) / 3 )rem;
	padding-top: 	calc( var(--vr) / 4 )rem;
	/*background-color: #eee;*/
}
.a--admin_main_nav	{
	color: var(--color2-darkgrey);
	display: block;
	width: 1em;
	line-height: 1em;
	/*height: 1em;*/
	/*background-color: #fff;*/
	border-radius: 50%;
	position: relative;
	z-index: 1;
}

/*Hover / focus / Active*/
.a--admin_main_nav:hover 
, .a--admin_main_nav:focus
, .a--admin_main_nav:active
{
	text-decoration: none;
	background-color: var(--color1-light);
	box-shadow: 0 0 3px 3px var(--color1-light);
}

.a--admin_main_nav.active 
{
	background-color: var(--color1-bright);
	box-shadow: 0 0 5px 2px var(--color1-bright);
	color: #000;
}
.a--admin_main_nav.active:after {
	content: "";
	display: block;
	width: calc( var(--vr) / 2 )rem;
	height: calc( var(--vr) / 2 )rem;
	background-color: var(--color2-lightgrey);
	position: absolute;
	margin: auto;
	top: 1.1em;
	left: 0;
	right: 0; 
	transform: rotate(45deg);
}




/*
**	Sub Nav
*/

.admin_sub_nav {
	padding: calc( var(--vr) / 3 )em 0;
	/*background-color: hsla(0, 0%, 0%, .05);*/
	border-bottom: 2px solid #fff;
}

.i--admin_sub_nav {
	vertical-align: middle;
}


/**
//	Main
*/

.main--wrapper {
	/*background-color: #fff;*/
	padding-top: var(--vr)rem;
	padding-bottom: var(--vr)rem;
}


/*
//	filter bloc
*/

#changelist-filter {
	float: left;
	margin-right: var(--gutter)em;
	padding-right: var(--gutter-half)em;
	border-right: 1px solid var(--color2-grey);
}
#changelist-form {
	overflow: hidden;
}



/*	
**	Admin components
**
*/

/*	Notifs */
.errorlist {
	margin-bottom: 0;
	font-size: var(--fs-small)em;
}



/* CALENDARS & CLOCKS */

.calendarbox, .clockbox {
    width: 15em;
    text-align: center;
    background: white;
    position: relative;
    border: 2px solid var(--color2);
    padding: 1px;
}

.clockbox {
    width: auto;
}

.calendar {}

.calendar table {
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.calendar caption, .calendarbox h2 {
    margin: 0;
    font-size: 1em;
    text-align: center;
    border-color: var(--color2)
    /*border-top: none;*/
}

.calendar th {
    font-weight: 400;
    font-size: var(--fs-small);
    text-align: center;
    background: var(--color2-lightgrey);
    border-bottom: 2px solid #fff;
}

.calendar td {
    text-align: center;
    border: 1px solid var(--color2-lightgrey);
}

.calendar td.selected a {
    background: #C9DBED;
}

.calendar td.nonday {
    background: var(--color2-lightgrey);
}

.calendar td.today a {
    background-color: var(--color1-bright);
}

.calendar td a, .timelist a {
    display: block;
    text-decoration: none;
}

.calendar td a:hover, .timelist a:hover {
    background: #5b80b2;
    color: white;
}

.calendar td a:active, .timelist a:active {
    background: #036;
    color: white;
}

.calendarnav {
    text-align: center;
}

.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover {
    color: #999;
}

.calendar-shortcuts {
    background: var(--color2);
    color: #fff;
    font-size: var(--fs-small)em;
    line-height: 2em;
}
.calendar-shortcuts a {
	color: inherit;
}

.calendarbox .calendarnav-previous
, .calendarbox .calendarnav-next 
{
    display: block;
    position: absolute;
    font-weight: bold;
    background-color: var(--color2);
    color: white;
    padding: 0 .8em;
    line-height: 1.5em;
	border-bottom: 2px solid var(--color2);

    /*font-size: 12px;*/
    /*background: #C9DBED url(../img/default-bg.gif) bottom left repeat-x;*/
    /*padding: 1px 4px 2px 4px;*/
}

.calendarnav-previous:hover, 
.calendarnav-next:hover 
{
	background-color: var(--color2);
}

.calendarnav-previous {
    top: 0;
    left: 0;
}

.calendarnav-next {
    top: 0;
    right: 0;
}

.calendar-cancel {
    margin: 0 !important;
    /*padding: 0 !important;*/
    /*font-size: 10px;*/
    /*background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;*/
    background-color: var(--color1-bright);
    /*border-top: 1px solid #ddd;*/
}

.calendar-cancel:hover {
    /*background: #e1e1e1 url(../img/nav-bg-reverse.gif) 0 50% repeat-x;*/
}

.calendar-cancel a {
    /*color: black;*/
    display: block;
}

ul.timelist, .timelist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.timelist a {
    padding: 2px;
}
